<?xml version="1.0"?>
<launch>
    <!-- Launch the Franka FR3 robot -->
    <include file="$(find franka_gazebo)/launch/fr3.launch"/>

    <!-- Spawn a table in front of the robot -->
    <node name="spawn_table" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-file $(find franka_gazebo)/models/table/flat_pencil.sdf -sdf -model table -x 0.6 -y 0.0 -z 0.0"/>
          
    <!-- Start the joint velocity controller -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="fr_joint_velocity_controller"/>
          
    <!-- Run the updatePoseEndEffectorEig node -->
    <node name="update_pose_end_effector" pkg="franka_demo_package" type="updatePoseEndEffectorEig" output="screen"/>
</launch>
