<?xml version="1.0"?>
<launch>
    <!-- Launch the real Franka FR3 robot with the robot IP (to be specified) -->
    <arg name="robot_ip" default="172.16.0.3" doc="IP address of the real FR3 robot"/>
    <arg name="load_gripper" default="true" doc="Load the gripper"/>
    <arg name="arm_id" default="fr3" doc="Robot namer"/>

    
    <!-- Include the real robot driver -->
    <include file="$(find franka_control)/launch/franka_control.launch">
        <arg name="robot_ip" value="$(arg robot_ip)"/>
        <arg name="load_gripper" value="$(arg load_gripper)"/>
        <arg name="arm_id"   value="$(arg arm_id)" />
    </include>
    
    <!-- Start the joint velocity controller for real robot -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="fr_joint_velocity_controller"/>
          
    <!-- Run the updatePoseEndEffectorEig node -->
    <node name="update_pose_end_effector" pkg="franka_demo_package" type="updatePoseEndEffectorEig2" output="screen"/>
    
    <!-- Run the iterative marker node -->   
    <node name="interactive_marker_node"
        pkg="franka_demo_package"
        type="marker_filtered_boundary.py"
        output="screen"
        cwd="node" />
    
    <!-- Run the RViz with the marker  -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find franka_demo_package)/rviz_configs/toledo_A4.rviz" />
    
    
    <!-- Optional: Add hardware controller support for specific functionality -->
    <!-- <node name="real_hardware_interface" pkg="franka_demo_package" type="real_hardware_interface_node" output="screen"/> -->
</launch>
